<main>
        <!-- place an aside with 20% width to complement the article portion -->
    <aside>
    <h1>destroyer of words</h1>
<p>a blog for people who hate persistent data. contribute your thoughts and watch them disappear.</p>        
    </aside>
        <!-- placed all the projects inside an article with 80% width -->
        <article>
    <form class="new-blog-form">
    <lable>Title</lable>
    <input id="blog-title">
    <lable>Content</lable>
    <input id="blog-content">
    <button>destroy</button>
  </form>
        </article>
    </main>
