/* zeroed out margin and padding. created a universal box-sizing. established the universal font-family - per Google Fonts */
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
    scroll-behavior: smooth; /* learned about slow scroll behavior from https://www.w3schools.com/howto/howto_css_smooth_scroll.asp */
}

body{
    background-color: #f5f5f5;
    background-image: url(../images/cut-tape.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    color:black;
}
/* created a flex container for the header, main and footer elements */
header,
main,
footer {
    display: flex;
    width: 85%;
    margin:20px  auto;
    justify-content: space-between;
}
/* created even spacing in the header and footer navs */
nav {
    display:flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 15px;
}
nav a {
    border-left: solid black 1px;
    justify-content: center;
    align-content:center;
    padding-left:15px;
    text-decoration: none;
    color:black;
    width: 100%;
    /*width: 400px;*/
}
nav a:hover {
    background-color:lightgray;
}
aside {
    width: 20%;
}

aside p {
    margin:20px 20px 20px 0;
}
aside a {
    text-decoration: none;
    font-weight: bold;
    color:black;
}

/* creates a flex-wrap for the project images */
article,
#blog-content {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Redacted', cursive;
}
form {
    width: 100%;
}
#blog-title {
    display:block;
    margin-bottom: 20px;
}

#blog-content {
    height: 500px;
    margin-bottom: 10px;
}
.form-input {
    display: block;
    margin:10px 0px;
}
form {
    background-color: #010101;
    color:white;
    padding: 3px;
}
/* large screens */
@media screen and (max-width: 1324px) {
    .project {
        width:50%;
    }

}
/* medium screens */
@media screen and (max-width: 883px) {
    .project {
        width:100%;
    }
    .project a {
        padding: 100px 100px;
    }
    main {
        width: 95%;        
    }
    aside {
        width: 30%;
    }
    /* creates a flex-wrap for the project images */
    article {
        width:70%;
    }

}
/* small screens */
@media screen and (max-width: 600px) {
    main {
        display: block;      
    }
    
    article,
    aside {
        width: 100%;
    }
    footer h2 {
        display: none;
    }
    .faze {
        width:30%;
    }

}